@import "tailwindcss";

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  
  --color-primary: hsl(var(--primary));
  --color-primary-darker: hsl(var(--primary-darker));
  --color-primary-foreground: hsl(var(--primary-foreground));
  
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-star: hsl(var(--star));
  
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  
  --container-center: true;
  --container-padding: 2rem;
  --container-screen-2xl: 1400px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 95%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 20 14.3% 4.1%;
    --primary-darker: 20 14.3% 4.1%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 0 0% 85%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 0 0% 85%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 0 0% 85%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --star: 39 89% 67%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 60 9.1% 97.8%;

    --card: 0 0% 15%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 53 81% 90%;
    --primary-darker: 31 32% 48%;
    --primary-foreground: 20 14.3% 4.1%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 0 0% 15%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 0 0% 15%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 35.5 91.7% 32.9%;
    --star: 39 89% 67%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply mb-4 text-4xl font-bold;
  }

  h2 {
    @apply mb-2 text-3xl font-bold;
  }

  h3 {
    @apply mb-2 text-2xl font-bold;
  }

  p {
    @apply mb-4;
  }

  ol {
    @apply mb-2 list-inside list-decimal;
  }

  li {
    @apply mb-2 list-inside list-disc;
  }

  p {
    @apply mb-4;
  }

  :not(pre) > code {
    @apply rounded bg-secondary px-1 font-normal text-secondary-foreground;
  }
}
